In [2]:
class Transaction:
    def __init__(self,
                 transaction_id: int,
                 source_account: int | None,
                 target_account: int | None,
                 amount: Decimal,
                 currency: str,
                 created_at: datetime | None,
                 status: str | None):
        self.transaction_id = transaction_id
        self.source_account = source_account
        self.target_account = target_account
        self.amount = amount
        self.currency = currency
        self.created_at = created_at
        self.status = status

In [3]:
from decimal import Decimal
import datetime
import random
from datetime import timedelta


transactions = [Transaction(transaction_id=i, amount=Decimal(str(random.randint(500, 100000))), source_account=i, target_account=i+1,currency="rub", created_at=datetime.datetime.now() + timedelta(days=i), status="finished") for i in range(100)]

In [4]:
import pandas as pd

df = pd.DataFrame([t.__dict__ for t in transactions])
df

,transaction_id,source_account,target_account,amount,currency,created_at,status
0,0,0,1,17214,rub,2025-12-14 21:00:44.565071,finished
1,1,1,2,7905,rub,2025-12-15 21:00:44.565085,finished
2,2,2,3,13062,rub,2025-12-16 21:00:44.565090,finished
3,3,3,4,60940,rub,2025-12-17 21:00:44.565092,finished
4,4,4,5,46631,rub,2025-12-18 21:00:44.565095,finished
...,...,...,...,...,...,...,...
95,95,95,96,59335,rub,2026-03-19 21:00:44.565311,finished
96,96,96,97,87593,rub,2026-03-20 21:00:44.565313,finished
97,97,97,98,91185,rub,2026-03-21 21:00:44.565315,finished
98,98,98,99,16353,rub,2026-03-22 21:00:44.565317,finished
99,99,99,100,99377,rub,2026-03-23 21:00:44.565319,finished

In [16]:
df.sort_values(by='created_at').head()

,transaction_id,source_account,target_account,amount,currency,created_at,status
0,0,0,1,17214,rub,2025-12-14 21:00:44.565071,finished
1,1,1,2,7905,rub,2025-12-15 21:00:44.565085,finished
2,2,2,3,13062,rub,2025-12-16 21:00:44.565090,finished
3,3,3,4,60940,rub,2025-12-17 21:00:44.565092,finished
4,4,4,5,46631,rub,2025-12-18 21:00:44.565095,finished